.animate-showIn {
  animation: showAside 700ms ease-in-out forwards;
}

@keyframes showAside {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.animate-closeAs {
  animation: closeAside 700ms ease-in-out forwards;
}

@keyframes closeAside {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}


.animate-rotate {
  animation: rotateL 500ms ease-in-out forwards;
}

@keyframes rotateL {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

.animate-rotatemin {
  animation: rotatemin 500ms ease-in-out forwards;
}

@keyframes rotatemin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.animate-rotBack {
  animation: rotback 500ms ease-in-out forwards;
}

@keyframes rotback {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.animate-rotBackMin {
  animation: rotbackmin 500ms ease-in-out forwards;
}

@keyframes rotbackmin {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
